body {
    box-sizing: border-box;
}
img {
    width:129px;
    height:129px;
    margin:0px;
    float: left;
    transition-property: rotate scale;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    z-index: 2;

}
img:nth-child(4n+5) {
    float: left;
    clear:left;
}
#flowerbed:hover img {
 opacity: 0.1;
}

#flowerbed:hover img:hover{
    opacity:1;
    transform: rotate(180deg) scale(1.5);
    z-index: 5;
    position: relative;
}
#flowerbed {
    position: absolute;
    top:25%;
    left:25%;
    transform: up left -50%;
}
a {
 bottom:0;
right:0;
position: absolute;

}