table{
    
}

td{
    
}

header{
    background-color: maroon;
    color:white;
    font-size: 30pt;
   
}
nav {
    background-color: darkblue;
    color: white;
    font-size: 18pt;
  
    
}
.label{
    list-style-type: none;
    display: inline;
    position:relative;
    
}
th{
    
}
tr:nth-child(even){
    background-color: lightgray;
}
nav ul {
    margin-top: 0px;
    
}

.label:hover{
    cursor: pointer;
    color: gray;

}
.menu {
    position: absolute;
    display: none;
    background-color: gray;
    left: 0;
    top: 100%;
          
    
}
.label:hover .menu {
    display: block;
}
@media(max-width:40em)
{
    header{
        position: absolute;
}
    nav{
        display: none;
         }
    #lines {
        display:block;
    }
}
div{
    border-left: 1px;
    margin-left: 600px;
    position: absolute;
      
}
a {
    color:white;
    text-decoration: none; 
}
.menu li{
    padding-right:
}

#lines {
    display:none;
    
}
